@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded cursor-pointer;

    &.blue {
        @apply bg-blue-500 text-white;

        &:hover {
            @apply bg-blue-700;
        }
    }

    &.teal {
        @apply border-2 border-teal-700 rounded text-teal-700;

        &:hover {
            @apply bg-gray-200;
        }

        &.disabled {
            @apply border-teal-400 text-gray-400 cursor-not-allowed;
        }

        &.active {
            @apply bg-teal-700 text-white;

            &:hover {
                @apply border-teal-900 bg-teal-900;
            }
        }
    }
}
